@page "/viewreports"
@using Syncfusion.Blazor.Grids;
@using EmprendeUCR_WebApplication.Data.Services.Reports
@using EmprendeUCR_WebApplication.Data.Entities
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@inject ReportService ReportService


<h2>Visualizar Reportes</h2>


<SfToolbar ID="ToolBar">
    <ToolbarItems>

    </ToolbarItems>
</SfToolbar>
<SfGrid ID="Grid" @ref="Grid" AllowSorting="true" DataSource="@_reports" IdMapping="ID" ParentIdMapping="" AllowSelection="true" TreeColumnIndex="0">
    <GridEvents TValue="Report" RowSelected="SelectionHandler" CommandClicked="CommandClickHandler"></GridEvents>
    <GridEditSettings AllowDeleting="true" AllowEditing="true" AllowAdding="true"></GridEditSettings>
    <GridSortSettings>
        <GridSortColumns>
            <GridSortColumn Field="Title" Direction="Syncfusion.Blazor.Grids.SortDirection.Ascending"></GridSortColumn>
        </GridSortColumns>
    </GridSortSettings>
    <GridColumns>
        <GridColumn Field="Title" HeaderText="Titulo" Width="100"></GridColumn>
        <GridColumn Field="Content" HeaderText="Descripción" Width="160"></GridColumn>
        <GridColumn Field="ID" HeaderText="Identificacion" Width="160" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridColumn HeaderText="Acciones" Width="160">
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.None" Title="abc"
                                   ButtonOption="@(new CommandButtonOptions() {Content="Ver Reporte"})" />
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>



<SfDialog ID="WatchDialog" Width="500px" IsModal="true" @bind-Visible="@visible">
    <DialogTemplates>
        <Header> Visualizar Reporte </Header>
        <Content>
            <p><b>Titulo</b></p>
            <p>@title</p>
            <br>
            <p><b>Descripcion</b></p>
            <p>@content</p>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Cancelar" OnClick="@closeViewReportDialog" />
    </DialogButtons>
</SfDialog>

@code {
    //Private Variables
    private SfGrid<Report> Grid { get; set; }
    private IList<Report> _reports;
    private Report SelectedReport;
    private double SelectedIndex;

    ///
    ///    View Report Watch Dialog
    private bool visible = false;
    private string title = "";
    private string content = "";

    public void closeViewReportDialog()
    {
        visible = false;
    }

    //On Initialized
    protected override async Task OnInitializedAsync()
    {
        _reports = await ReportService.GetAsync();
    }

    public void CommandClickHandler(CommandClickEventArgs<Report> args)
    {
        if (args.CommandColumn.ButtonOption.Content == "Ver Reporte")
        {
            var SelectedReport = ReportService.getReportById(args.RowData.ID);
            title = SelectedReport.Title;
            content = SelectedReport.Content;
            visible = true;
        }
    }
    //SelectionHandler
    public async Task SelectionHandler(Syncfusion.Blazor.Grids.RowSelectEventArgs<Report> args)
    {
        var SelectedCategories = await this.Grid.GetSelectedRecords();
        if (SelectedCategories.Count() == 0)
        {
            SelectedReport = null;
        }
        else
        {
            SelectedReport = SelectedCategories.First();
            SelectedIndex = await Grid.GetRowIndexByPrimaryKey(SelectedReport.ID);
        }
    }
}
